.FutbolDashboard h1 {
    margin: 18px 12px;
    font-size: 30px;
    font-weight: 500;
}

.DashboardTile.WebButton {
    min-height: 96px;
    margin: 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
